<h1>Estudantes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Telemovel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estudantes.each do |estudante| %>
      <tr>
        <td><%= estudante.nome %></td>
        <td><%= estudante.telemovel %></td>
        <td><%= link_to 'Mostrar', estudante %></td>
        <td><%= link_to 'Alterar', edit_estudante_path(estudante) %></td>
        <td><%= link_to 'Eliminar', estudante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Estudante', new_estudante_path %>
