<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @estudante.nome %>
</p>

<p>
  <strong>Telemovel:</strong>
  <%= @estudante.telemovel %>
</p>

<%= link_to 'Altarar', edit_estudante_path(@estudante) %> |
<%= link_to 'Voltar', estudantes_path %>
