
<%= simple_form_for(@marcacao) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :tema %>
    <%= f.association :turma, collection: current_utilizador.turmas.map{|turma| [turma.descricao, turma.id]}, include_blank: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Gravar" %>
  </div>
<% end %>
