<h1>Marcacões</h1>

<table class="table table-bordred table-striped">
  <thead>
    <tr>
      <th>Tema</th>
      <th>Turma</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @marcacoes.each do |marcacao| %>
      <tr>
        <td><%= marcacao.tema %></td>
        <td><%= marcacao.turma.descricao %></td>
        <td><%= link_to 'Mostrar', marcacao %></td>
        <td><%= link_to 'Alterar', edit_marcacao_path(marcacao) %></td>
        <td><%= link_to 'Eliminar', marcacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Marcação', new_marcacao_path %>
