<p>
  <strong>Tema:</strong>
  <%= @marcacao.tema %>
</p>

<p>
  <strong>Turma:</strong>
  <%= @marcacao.turma.descricao %>
</p>

<%= link_to 'Alterar', edit_marcacao_path(@marcacao) %> |
<%= link_to 'Voltar', marcacoes_path %>

<table class="table table-bordred table-striped">
  <thead>
    <tr>
      <th>Nome do estudante</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @marcacao.marcacao_do_estudantes_na_turma.each do |marcacao_do_estudante_na_turma| %>
      <tr>
        <td><%= marcacao_do_estudante_na_turma.estudante.nome %></td>
        <td><%= link_to 'Presente', "#" %></td>
      </tr>
    <% end %>
  </tbody>
</table>